<article *ngFor="let pysakki of reitit">
    <h1>
        {{ pysakki.name }}
    </h1>

    <ul>
        <article *ngFor="let reitti of pysakki.patterns">
            <h3>{{ reitti.route.shortName }}</h3>
            <p [class]="reitti.directionId | routeDirection">{{ reitti.directionId | routeDirection }} </p>
            <p class="longName">{{ reitti.route.longName }}</p>
        </article>
    </ul>
    <agm-map [latitude]="pysakki.lat" [longitude]="pysakki.lon" [zoom]="15">
        <agm-marker [latitude]="pysakki.lat" [longitude]="pysakki.lon"></agm-marker>
    </agm-map>
</article>